
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<img src="https://i.pinimg.com/564x/16/31/c2/1631c2b2fb3815d6425c1784b3253805.jpg" alt="Moon" />

<!-- About Section -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Our journey began with James's passion for artisanal craftsmanship and his desire to create a platform that celebrates the beauty and uniqueness of handmade products. With a vision of connecting artisans with a discerning audience, KhumaloCraft Emporium was born.</p>
                <p>At KhumaloCraft Emporium, we believe in the power of craftsmanship to inspire, uplift, and unite communities. Each product featured on our platform tells a story of skill, dedication, and cultural heritage. We strive to provide a platform where artisans can showcase their talents and customers can discover one-of-a-kind treasures that enrich their lives.</p>
            </div>
            <div class="col-md-6">
                <img src="images/about.jpg" alt="About Us" class="img-fluid">
            </div>
        </div>
    </div>
</section>