@{
    ViewData["Title"] = "Khumalo's Craft Emporium";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Khumalo Craft Emporium</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body background="~/images/wallpaper.jpg">


    <header>
        <div class="text-left">
            <h1>KhumaloCraft Emporium!</h1>
        </div>

        <div class="text-center">
            <h3>Discover Unique Handcrafted Creations from Around Africa!</h3>
        </div>
    </header>

    <div class="content">
        <img src="~/images/bangles.jpg" alt="Description of the image" class="medium-image">
        <p class="medium-text">Welcome to Khumalo's Craft Emporium, where creativity meets tradition in every exquisite piece. <br />Nestled in the heart of South Africa, our emporium is a haven for artisans and craft enthusiasts alike. <br /> From intricately handcrafted jewelry to vibrant textiles and timeless pottery, each item in our collection <br />reflects the rich cultural tapestry of our region. Whether you're seeking a unique gift or adding a touch of <br />artisanal charm to your home, Khumalo's Craft Emporium offers an eclectic array of treasures waiting to be discovered. <br />Immerse yourself in the artistry, passion, and heritage that define us at Khumalo's Craft Emporium – where every creation tells a story.</p>
    </div>


</body>

</html>
